node_modules
.env
dist/
northwind/

*/public/video/*
server/uploads/*
server/json
server/data.json
*/ssl/*

python/*.html
python/*.txt
!python/requirements.txt
python/ids/app_ids.txt
server/achievement.json
server/language.json
python/json
python/html

python/ai_agent

# Obsidian
.obsidian/themes
.obsidian/appearance.json
.obsidian/workspace.json