/*=========================================================
Author       : LeThienHuy.
==============================================================*/

/*=============================================================
    CSS INDEX
  =============================
    01.GENERAL STYLE
    02.HEADER STYLE
		
*=============================================================*/
/*










*/
/*===================================*
    01.START GENERAL
*===================================*/
/* Color */
:root {
    /* --header-bg: #266A29; */
    --body-bg: #d9d9d9;
    --body-bg: #1b2838;
    --header-bg: #393939;

    /* Form */
    --button-bg: #0074e4;
    --button-bg-hover: #3b90e0;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: padding-left 0.3s ease-in-out;
}

/*===================================*
    01.END GENERAL
*===================================*/
/*










*/
/*===================================*
    02.START HEADER
*===================================*/
.home-header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #393939;
    z-index: 10;
    opacity: 0.95;
}

.home-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 70rem;
    margin: 0 auto;
    height: 3.5rem;
}

.home-menu {
    display: flex;
    align-items: center;
    height: 100%;
}

.home-menu li {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

.home-menu li a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-decoration: none;
    padding: 0.5rem 0.75rem;
}

.home-menu li a.default {
    color: #e5e7eb;
    transition: color 0.3s ease;
}

.home-menu li a.default:hover {
    color: #9ca3af;
}

.home-menu li a.active {
    color: #10b981;
}

/* Menu account */
.user-menu-container {
    align-items: center;
}

.user-menu.MuiPopover-root {
    position: absolute;
}

.user-menu.MuiPopover-root .MuiPaper-root {
    width: 350px;
    max-height: calc(100% - 32px);
    background-color: #1e1e2e;
    color: #fff;
}

.user-menu .MuiPaper-root .MuiMenuItem-root:hover,
.user-menu .MuiPaper-root .MuiMenuItem-root:hover .MuiListItemIcon-root {
    color: #556de5;
    background-color: #343746;
}

.user-menu .MuiPaper-root .MuiMenuItem-root,
.user-menu .MuiPaper-root .MuiMenuItem-root .MuiListItemIcon-root {
    color: #5c5f6b;
}
/*===================================*
    02.END HEADER
*===================================*/
/*










*/
/*===================================*
    03.START NAVIGATION
*===================================*/
.navbar-container {
    position: sticky;
    width: 90%;
    height: 90px;
    margin: 10px auto;
}

.navbar-content {
    position: relative;
    height: 100%;
}

/* Nav controls */
.nav-control {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    gap: 2;
}

.nav-control button {
    display: flex;
    align-items: center;
    padding: 6px 8px;
    line-height: 20px;
    font-size: 14px;
}

.nav-control .button-cart {
    background-color: #5c7e10;
    color: #fff;
}

.nav-control .button-wishlist {
    background-color: #4e6270;
    color: #fff;
}

.nav-control .button-wishlist:hover {
    background-color: #7390a5;
}

.nav-control .button-cart:hover {
    background-color: #7ea64b;
}

.nav-control .button-cart svg {
    margin-right: 5px;
}

/* Nav area */
.nav-area {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 49px;
    border-radius: 5px;
    background: linear-gradient(
        90deg,
        rgba(62, 103, 150, 0.919) 11.38%,
        rgba(58, 120, 177, 0.8) 25.23%,
        rgb(15, 33, 110) 100%
    );
}

.nav-menu {
    display: flex;
    gap: 2;
    flex: 1;
}

.nav-menu .menu-item {
    padding: 10px 8px;
}
.nav-menu .menu-item:hover {
    background-color: #21a2ff66;
}

.search.MuiInputBase-root {
    width: 300px;
    padding: 3px 10px;
    padding-right: 65px;
    border-radius: 12px;
    background-color: #202024;
    color: #fff;
}

.search-container button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
}

.search-container .button-clear {
    right: 2.25rem;
    color: #7e7e7e;
}

.search-container .button-clear:hover {
    color: #7e7e7ea2;
}

.search-container .search-icon {
    right: 0.25rem;
    color: #fff;
}

.search-container .search-icon:hover {
    background-color: #405a7a;
}
/*===================================*
    03.END NAVIGATION
*===================================*/
