/*=========================================================
Author       : LeThienHuy.
==============================================================*/

/*=============================================================
    CSS INDEX
  =============================
    01.GENERAL STYLE
    02.HEADER STYLE
		
*=============================================================*/
/*










*/
/*===================================*
    01.START GENERAL
*===================================*/
/* Color */
:root {
    /* --header-bg: #266A29; */
    --body-bg: #d9d9d9;
    --body-bg: #1b2838;
    --header-bg: #393939;

    /* Form */
    --button-bg: #0074e4;
    --button-bg-hover: #3b90e0;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: padding-left 0.3s ease-in-out;
}

.heading-section {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
}
/*===================================*
    01.END GENERAL
*===================================*/
/*










*/
/*===================================*
    02.START HEADER
*===================================*/
.home-header {
    width: 100%;
    background-color: #393939;
    z-index: 10;
    opacity: 0.95;
}

.home-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 70rem;
    margin: 0 auto;
    height: 3.5rem;
}

.home-menu {
    display: flex;
    align-items: center;
    height: 100%;
}

.home-menu li {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

.home-menu li a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-decoration: none;
    padding: 0.5rem 0.75rem;
}

.home-menu li a.default {
    color: #e5e7eb;
    transition: color 0.3s ease;
}

.home-menu li a.default:hover {
    color: #9ca3af;
}

.home-menu li a.active {
    color: #10b981;
}

/* Menu account */
.user-menu-container {
    align-items: center;
}

.user-menu.MuiPopover-root {
    position: absolute;
}

.user-menu.MuiPopover-root .MuiPaper-root {
    width: 350px;
    max-height: calc(100% - 32px);
    background-color: #1e1e2e;
    color: #fff;
}

.user-menu .MuiPaper-root .MuiMenuItem-root:hover,
.user-menu .MuiPaper-root .MuiMenuItem-root:hover .MuiListItemIcon-root {
    color: #556de5;
    background-color: #343746;
}

.user-menu .MuiPaper-root .MuiMenuItem-root,
.user-menu .MuiPaper-root .MuiMenuItem-root .MuiListItemIcon-root {
    color: #5c5f6b;
}
/*===================================*
    02.END HEADER
*===================================*/
/*










*/
/*===================================*
    03.START NAVIGATION
*===================================*/
.navbar-container {
    position: absolute;
    width: 100%;
    height: 90px;
    z-index: 999;
}

.navbar-content {
    position: relative;
    width: 90%;
    margin: 10px auto;
    height: 100%;
}

/* Nav controls */
.nav-control {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    gap: 2;
}

.nav-control button {
    display: flex;
    align-items: center;
    padding: 6px 8px;
    line-height: 20px;
    font-size: 14px;
}

.nav-control .button-cart {
    background-color: #5c7e10;
    color: #fff;
}

.nav-control .button-wishlist {
    background-color: #4e6270;
    color: #fff;
}

.nav-control .button-wishlist:hover {
    background-color: #7390a5;
}

.nav-control .button-cart:hover {
    background-color: #7ea64b;
}

.nav-control .button-cart svg {
    margin-right: 5px;
}

/* Nav area */
.nav-area {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 49px;
    border-radius: 5px;
    background: linear-gradient(
        90deg,
        rgba(62, 103, 150, 0.919) 11.38%,
        rgba(58, 120, 177, 0.8) 25.23%,
        rgb(15, 33, 110) 100%
    );
}

.nav-menu {
    display: flex;
    gap: 2;
    flex: 1;
}

.nav-menu .menu-item {
    padding: 10px 8px;
}
.nav-menu .menu-item:hover {
    background-color: #21a2ff66;
}

.search.MuiInputBase-root {
    width: 300px;
    padding: 3px 10px;
    padding-right: 65px;
    border-radius: 12px;
    background-color: #202024;
    color: #fff;
}

.search-container button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
}

.search-container .button-clear {
    right: 2.25rem;
    color: #7e7e7e;
}

.search-container .button-clear:hover {
    color: #7e7e7ea2;
}

.search-container .search-icon {
    right: 0.25rem;
    color: #fff;
}

.search-container .search-icon:hover {
    background-color: #405a7a;
}

.search-results .search-result-item .search-result-link {
    display: flex;
    align-items: center;

    padding: 6px 10px;
    gap: 10px;
}

.search-results .search-result-item .search-result-link:hover {
    background-color: #f5f5f5;
}

.search-results .search-result-item .search-result-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.search-results .search-result-item .search-result-title {
    font-size: 1rem;
    font-weight: 500;
}

.search-results .search-result-item .search-result-price {
    font-size: 0.875rem;
    color: #f5f5f5;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.search-result-item .search-result-link:hover .search-result-title,
.search-result-item .search-result-link:hover .search-result-price {
    color: #151515;
}
/*===================================*
    03.END NAVIGATION
*===================================*/
/*










*/
/*===================================*
    04.START VIDEO
*===================================*/
.video-container {
    background-color: #000;
}

@media screen and (max-width: 1475px) {
    body .video-container,
    body .bg-video {
        height: calc(60vw - ((100vw - 50px) / 10)) !important;
        background-size: cover !important;
    }
}

@media screen and (max-width: 1200px) {
    body .video-container,
    body .bg-video {
        height: 45vw !important;
        background-size: cover !important;
    }
}

@media screen and (max-width: 1100px) {
    body .video-container,
    body .bg-video {
        height: 44vw !important;
        background-size: cover !important;
    }
}

@media screen and (max-width: 800px) {
    body .video-container,
    body .bg-video {
        height: 42vw !important;
        background-size: cover !important;
    }
}

.bg-video {
    height: calc(55vw - ((100vw - 156px) / 10)) !important;
    margin-left: 50%;
    transform: translateX(-50%);
}

.video-container {
    background-repeat: no-repeat;
    background-position: center top;
    height: calc(55vw - ((100vw - 156px) / 10)) !important;
    overflow: hidden;
}
/*===================================*
    04.END VIDEO
*===================================*/
/*










*/
/*===================================*
    05.START HIGHLIGHT
*===================================*/
.home-highlight {
    width: 100%;
    padding: 40px 50px;
}

.game-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
}

.game-image {
    width: 100%;
    height: auto;
    display: block;
}

.hover-overlay {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: bottom 0.3s ease-in-out;
}

.game-card:hover .hover-overlay {
    bottom: 0;
}

.game-video {
    width: 90%;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.game-info {
    text-align: center;
    color: #fff;
}

.price {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.original-price {
    text-decoration: line-through;
    color: #aaa;
}

.discount-price {
    color: #f90;
    font-weight: bold;
}

.discount {
    color: #0f0;
    font-weight: bold;
}

/*===================================*
    05.END HIGHLIGHT
*===================================*/
/*










*/
/*===================================*
    06.START DISCOVER
*===================================*/
.discover-section {
    width: 100%;
    padding: 40px 0;
    background-color: #fff;
    color: #000;
    text-align: center;
}

.discover-title {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 30px;
}

.discover-swiper-container {
    overflow: hidden;
}

.discover-swiper {
    margin-bottom: 20px;
}
.reversed-container {
    width: 102%;
}

.discover-swiper.reversed {
    width: 98%;
    transform: translateX(-21%);
    overflow: visible;
}

.discover-slide {
    display: block;
    position: relative;
    border-radius: 24px;
    overflow: hidden;
    transition: transform 0.3s;
}

.discover-image {
    height: 209px;
    border-radius: 24px;
    transition: transform 0.3s;
}

.discover-slide:hover .discover-image {
    transform: scale(1.25);
}

.discover-overlay {
    position: absolute;
    top: 70%;
    left: 0;
    right: 0;
    bottom: 0;
    background: #00000066;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0 20px 10px;
}

.discover-title-overlay {
    font-size: 1.25rem;
    font-weight: 600;
    color: #fff;
    padding-bottom: 10px;
}

.discover-footer {
    margin-top: 20px;
}

.discover-see-all {
    display: inline-block;
    padding: 15px 30px;
    background-color: #4caf50;
    color: #fff;
    border-radius: 24px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.discover-see-all:hover {
    background-color: #3e8f42;
}

/*===================================*
    06.END DISCOVER
*===================================*/
/*










*/
/*===================================*
    07.START RELEASE
*===================================*/
.release-section {
    margin: 2.5rem 0;
}

/* Tabs */
.release-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.release-tabs .MuiTabs-root {
    background-color: #000;
    border-radius: 30px;
}

.release-tabs .MuiTab-root {
    color: #fff;
    border-radius: 30px;
}

.release-tabs .MuiTab-root.Mui-selected {
    background-color: #fff;
    color: #000;
}

/* Content */
.release-item.MuiCard-root {
    background-color: transparent;
    color: #fff;
    box-shadow: none;
}

.release-item-container {
    transition: opacity 0.3s ease-in-out;
}

.release-item-content {
    height: 70px;
    background-color: transparent;
}

.release-item-img {
    transition: transform 0.3s ease-in-out;
}

.release-item .loading-img {
    width: 177px;
    height: 177px;
}

.release-item:hover .release-item-img {
    transform: scale(1.075);
}

.release-item-container:not(:hover):has(~ .release-item-container:hover),
.release-item-container:hover ~ .release-item-container:not(:hover) {
    opacity: 0.2;
}
/*===================================*
    07.END RELEASE
*===================================*/
