/* Swiper */
.swiper.main-player-swiper {
    --swiper-navigation-top-offset: 522px; /* Khoảng cách nút điều hướng với viền trên */
    --swiper-navigation-sides-offset: 0px; /* Khoảng cách nút điều hướng với viền bên */
    --swiper-navigation-size: 12px; /* Kích thước nút điều hướng */
}

.main-player-swiper .swiper-button-next,
.main-player-swiper .swiper-button-prev {
    padding: 9px 16px; /* Kích thước nút điều hướng */
    color: #407899; /* Màu nút điều hướng */
    background: #233c5166;
}

.main-player-swiper .swiper-button-next:hover,
.main-player-swiper .swiper-button-prev:hover {
    background: linear-gradient(
        135deg,
        #3d6c8d 0%,
        #2e5470 100%
    ); /* Màu nút điều hướng khi hover */
}

/* Swiper thumb */
.swiper.thumb-swiper {
    padding-bottom: 25px;
    --swiper-scrollbar-size: 18px; /* Kích thước scrollbar */
    --swiper-scrollbar-sides-offset: 32px; /* Khoảng cách scrollbar với viền */
    --swiper-scrollbar-border-radius: 5px; /* Bo tròn scrollbar */
}

.thumb-swiper .swiper-scrollbar {
    background: rgba(133, 133, 133, 0.3); /* Màu nền scrollbar */
}

.thumb-swiper .swiper-scrollbar-drag {
    background: #30537066; /* Màu thanh kéo scrollbar */
}

.swiper-scrollbar .swiper-scrollbar-drag:hover {
    background: linear-gradient(
        135deg,
        #3d6c8d 0%,
        #2e5470 100%
    ); /* Màu thanh kéo scrollbar khi hover */
}
