/*=========================================================
Author       : LeThienHuy.
==============================================================*/

/*=============================================================
    CSS INDEX
  =============================
    01.GENERAL STYLE
		
*=============================================================*/
/*










*/
/*===================================*
    01.START GENERAL
*===================================*/
/*===================================*
    01.END GENERAL
*===================================*/
/*










*/
/*===================================*
    02.START PRODUCTS
*===================================*/
.page-header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0.125rem 1rem;
}

.page-header .add-product-btn {
    color: #fff;
    background-color: #1b63a7;
}

.page-header .add-product-btn:hover {
    background-color: #1b63a78a;
}

/* Breadcrumb */
.breadcrumb-nav {
    margin-bottom: 0.5rem;
}

.breadcrumb-list {
    display: flex;
    align-items: center;
}

.breadcrumb-list .breadcrumb-item a {
    font-size: 0.875rem;
    color: #8a9197;
    transition: all 0.3s;
}

.breadcrumb-list .breadcrumb-item a:hover {
    color: #1b63a7;
}

.breadcrumb-list .breadcrumb-item + .breadcrumb-item {
    font-size: 0.875rem;
    padding-left: 0.5rem;
}

.breadcrumb-list .breadcrumb-item + .breadcrumb-item::before {
    content: "/";
    padding-right: 0.5rem;
    color: #8c98a4;
}

/* Link */
.product-link {
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.3s;
}

.product-link:hover {
    color: #4982b9;
}
/*===================================*
    02.END PRODUCTS
*===================================*/
/*










*/
/*===================================*
    03.START PRODUCT ADD
*===================================*/
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    row-gap: 0.25rem;
}
/*===================================*
    03.END PRODUCT ADD
*===================================*/
/*










*/
/*===================================*
    04.START PRODUCT DETAIL
*===================================*/
.detail .ql-snow .ql-stroke {
    stroke: #969696;
}

.detail .ql-snow .ql-fill {
    fill: #969696;
}

.detail .ql-editor.ql-blank:before {
    color: #636363;
}
/*===================================*
    04.END PRODUCT DETAIL
*===================================*/
